<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Add viewport meta tag for responsive behavior -->
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    .page-bg {
      background-color: #e6f2ff;
    }

    @media (max-width: 768px) {
      body {
        font-size: 16px; /* Adjust font size for mobile devices */
      }

      .info-content {
        margin-top: 20px;
      }
    }

    /* Other styles... */

    </style>
    {% block extra_styles %}{% endblock %}

</head>

<body class="page-bg">

    <!-- Header -->
    <header style="text-align: center;">
    <!-- Nav links... -->
    </header>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer style="text-align: center; margin-top: 40px;">
        <!-- Footer content... -->
    </footer>

</body>
</html>
