{% block placeholder_content %}
  <div class="info-content mt-4">
    <h2>Understanding Light Exposure &amp; Sleep relationship</h2>
    <p>The circadian rhythm, our body's internal clock, influences our sleep patterns, energy levels, and overall health. Light exposure, both natural and artificial, plays a crucial role in regulating this rhythm. This guide is based on the research of neuroscientist Dr. Andrew Huberman and chronobiologist Dr. Samer Hattar.</p>

    <h5><span class="bg-red">Wake up later</span></h5>
    <p>Exposure to light during the "red zone" hours can delay your circadian rhythm, causing you to wake up later.</p>

    <h5><span class="bg-yellow">Wake up sooner</span></h5>
    <p>Light exposure during the "yellow zone" hours can advance your circadian rhythm, leading you to wake up earlier.</p>

    <h5><span class="bg-green">Maintain schedule</span></h5>
    <p>Consistent light exposure during the "green zone" hours will help stabilize your circadian rhythm and maintain your sleep schedule.</p>

    <h5><span class="bg-grey">Dead zone</span></h5>
    <p>During the "grey zone" hours, your body is less responsive to light exposure.</p>
  </div>
{% endblock %}
