{% extends "base.html" %}

{% block title %}Your Sleep Tools{% endblock %}

{% block content %}
<div class="container mt-4">
    <header class="text-center mb-4">
        <h1>Light on sleep tools</h1>
    </header>

    <!-- Introduction -->
    <section>
        <h2>Introduction</h2>
        <p>Huberman's teachings on the relationship between light and sleep were a bit puzzling to me, mainly due to the unique terminology used, such as "shifts your clock forward" and "temperature minimum" (which, surprisingly, represents time rather than temperature). To simplify this, I've created a tool that lays out the essential information on the topic.</p>
    </section>

    <!-- Tool Selection -->
    <section class="row mt-4">
        <!-- Graph Tool -->
        <div class="col-md-6 mb-4 d-flex">
            <div class="card flex-grow-1">
                <div class="card-body">
                    <h3 class="card-title">Light Exposure Graph for Sleep Schedule</h3>
                    <p class="card-text">Generate a custom graph to help you identify the optimal times to seek or avoid light based on your wake-up time.</p>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('tool1_home') }}" class="btn btn-primary">Create Your Graph</a>
                </div>
            </div>
        </div>

        <!-- Sleep Schedule Tool -->
        <div class="col-md-6 mb-4 d-flex">
            <div class="card flex-grow-1">
                <div class="card-body">
                    <h3 class="card-title">Adjust Your Sleep Schedule</h3>
                    <p class="card-text">Plan your light exposure to either gradually adjust your sleep schedule or shift it entirely using the all-nighter approach.</p>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('tool2_home') }}" class="btn btn-primary">Adjust Schedule</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
