{% extends "base.html" %}

{% block title %}Circadian Rhythm Tool{% endblock %}

{% block content %}
<div class="container">

  <h1 class="mt-4 mb-4">Circadian Rhythm Tool</h1>
  <h2 class="text-center placeholder-header">Submit your wake time to generate a circadian rhythm light exposure graph</h2>


  <form action="/submit" method="post" id="timeForm">
    <div class="form-group">
      <label for="wakeTime">Wake Time:</label>
      <input type="time" class="form-control" id="wakeTime" name="wakeTime">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="d-flex justify-content-center mt-4">
    {% if img_data %}
      <img src="data:image/png;base64,{{img_data}}" alt="Graph" class="graph-img img-fluid">
    {% else %}
      <p style="font-size: 1.9em;"></p>
    {% endif %}
  </div>

  <div class="info-content mt-4">
    {% include 'extended_legend.html' %}

    <h2>Strategies</h2>
    <ul>
      <li>Engage with light during the hours you desire to be awake.</li>
      <li>Limit light exposure during the hours you want to rest or prepare for sleep.</li>
    </ul>

    <h2>Helpful Hints</h2>
    <h4>How much light is needed?</h4>
    <p>100k Lux, equivalent to about 5-15 minutes of sunlight exposure (depending on weather and location), is recommended. Artificial light is also effective but generally emits less lux.</p>

    <h4>How to manage light exposure?</h4>
    <p>It's not necessary to completely avoid light. During evenings, aim to reduce light to a level where you can just about manage to see. Your eyes can adjust to much lower light levels than you might expect.</p>

    <h4>Impact of food and exercise</h4>
    <p>Hard exercise and heavy meals can have a similar effect to light on your circadian rhythm. Same rules apply for when to seek / avoid them as with light. </p>

    <h4>Sleep cycles</h4>
    <p>For a more refreshing wake-up, consider timing it with the right sleep cycle stage, even if it's earlier than planned."</p>

    <h2>Relevant Resources</h2>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=NAATB55oxeQ" target="_blank">Full podcast - Dr. Huberman discussing circadian rhythms</a></li>
      <li><a href="https://www.youtube.com/watch?v=oUu3f0ETMJQ" target="_blank">Interview with Dr. Hattar on the impact of light on sleep</a></li>
    </ul>
  </div>

</div>
{% endblock %}